<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.arefdev.irdebitcardscanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name="ir.arefdev.irdebitcardscanner.ScanActivityImpl"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen" />
    </application>

</manifest>
